
<app-logo></app-logo>
<h1 class="title">{{title}}</h1>

<div class="ui-g ui-fluid">
    <form id="formulario-de-cadastro" class="ui-sm-12 ui-md-6 ui-lg-6">
        <div id="condicao">
            <h3>Condição do carro</h3>
            <select name="condicaocarroAtual" required="required" [(ngModel)]="carroAtual.condicao">
                <option  value="Novo" selected="true">Novo</option>
                <option  value="SemiNovo" >Semi-novo</option>
                <option  value="Usado">Usado</option>
            </select>
        </div>
        <div id="nome-do-carroAtual">
            <h3>Nome do carro</h3>
            <input type="text" name="carroAtual" [(ngModel)]="carroAtual.nome">
        </div>
        <div id="preco">
            <h3>Valor de venda</h3>
            <input type="text" name="preco" [(ngModel)]="carroAtual.preco" preco [valorDigitado]="undefined">
        </div>
        <div id="fabricante">
            <h3>Fabricante</h3>
            <select name="fabricante">
                <option value="{{carroAtual.montadora?.nome}}" selected="true">{{carroAtual.montadora?.nome}}</option>
                <option option *ngFor="let m of montadoras | async" [ngValue]="m">{{m.nome}}</option>
            </select>
        </div>
        <div id="ano-de-fabricacao">
            <h3>Ano de fabricação</h3>
            <input type="text"  name="ano" [(ngModel)]="carroAtual.anoFabricacao" dataConvert [ano]="undefined" maxlength="4">
        </div>
        <div id="dono">
            <h3>Unico dono?</h3>
            <p-radioButton name="unicoDono" value="true"  [(ngModel)]="carroAtual.unicoDono" required></p-radioButton>
            <p-radioButton name="unicoDono" value="false" label="Não" [(ngModel)]="carroAtual.unicoDono" required></p-radioButton>
        </div>      
        <div class="buttons">
            <button type="submit" class="salvar" (click)="salvarEdicao()">Salvar</button>
            <button type="button" class="cancelar" [routerLink]="['/lista-de-veiculos']">Cancelar</button>
        </div>
    </form>
</div>
