* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
}

body {
    font: 20%;
    background-image: url('./assets/img/background.png');
    font-family: Montserrat, sans-serif;
}


/*home*/

.menu-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav {
    width: 250px;
    ;
    height: 120px;
    background-color: #0081BD;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 40px 10px 0px 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}
a i, a p {
    color: #fff;
}
a:hover i, a:hover p {
    color: #000 !important;
}

.nav>i {
    margin-top: 15px;
    font-size: 50px;
}

.title {
    padding: 0.5em;
    background: #f4f4f4;
    text-align: center !important;
    font-size: 40px;
    font-weight: 500;
    color: #0081BD;
}

.home .title {
    color: #ff9d00;
}

.logo {
    max-width: 350px;
    margin: 2em auto 1em auto;
    text-align: center;
}

.logo img {
    width: 80%;
}

.input-erro {
    border-color: red !important;
}

.buttons {
    text-align: center;
    padding-top: 20px;
}

.buttons button {
    padding: 0.3em 1em;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}

.buttons button:focus,
.buttons button:active {
    outline: none;
}

.salvar {
    background-color: #0081bd;
}

.cancelar {
    background-color: #c0392b;
}


/*login*/

.login {
    padding: 1em;
}

input,
select {
    width: 100%;
    padding: 0.3em !important;
    outline: none;
    color: rgb(34, 34, 34);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input:focus,
select:focus {
    border-bottom: 1px solid #0081BD;
}

.ui-inputgroup {
    margin-bottom: 1em;
}

#entrar {
    padding: 0.1em !important;
    border-radius: 3px;
}
#entrar span {
    color: #fff;
}


/* menu*/

.ui-menu,
.ui-menu .ui-menu-child,
.ui-widget-content,
#menu {
    background-image: none !important;
    background: #fff !important;
    border: none !important;
}




/*formularios*/

#formulario-de-cadastro {
    /* width: 60%; */
    padding: 4em 1.5em 2em 1.5em;
    margin: 3em auto 0 auto;
    border-radius: 5px;
    background-color: #fff;
}

form>div {
    margin-bottom: 20px;
}

.font-size {
    font-size: 16px !important;
}


/* carro */

.box-carro {
    height: auto;
    padding: 1em;
    background: #fff;
    border: 3px solid #f4f4f4;
    border-radius: 5px;
}

.box-img {
    overflow: hidden;
    height: 250px;
    position: relative;
    text-align: center;
    width: 100%;
}

.box-img img {
    width: 100%;
    height: 100%;
}

.condicao-do-carro {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background: #f4f4f4;
}

.preco-do-carro {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ff9d00;
    padding: 0.5em;
}

h2 {
    font-size: 110%;
    font-weight: 400;
    background-color: #f4f4f4;
}

h3 {
    font-size: 100%;
    font-weight: 400;
    display: inline-block;
}

p,
span {
    font-size: 100%;
    font-weight: 200;
}

.atributos>div {
    padding: 2em 0;
}

.condicao-do-carro,
.preco-do-carro {
    font-size: 130% !important;
    font-weight: 500 !important;
}

.nome-do-carro {
    margin-top: 10px;
    padding: 0.5rem;
}

.cor-carro-novo {
    background-color: #2ecc71 !important;
}

.cor-carro-semi-novo {
    background-color: #2980b9 !important;
}

.cor-carro-usado {
    background-color: #c0392b !important;
}

.lista-de-carros {
    padding: 0 2em;
}

#carro {
    margin-bottom: 0 !important;
}

.footer {
    width: 100%;
    background-color: rgb(244, 244, 244);
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 0.5em;
}


/* classes de erro do formulário */

.border-invalid {
    border-color: #c0392b;
}

.button-disabled {
    cursor: not-allowed !important;
    opacity: 0.8 !important;
}

/* page not found */
.not-found {
    text-align: center;
    padding: 5em;
}

.not-found img {
    width: 50%;
}

.not-found a {
    border-bottom: 1px solid rgba(0,0,0,0.3);

}


/* swal */

.modal h2 {
    background-color: transparent !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 100%;
}

/* search*/
.search-box {
    padding-left: 20px !important;
}

.search-box div{
    display: inline-block;
    
}

.search-form {
    width: 45%;
}
.form-group {
    width: 90%;
    margin-bottom: 5px;
}

.search-link{
    float: left;
}

.search-link i {
    width: 20px;
    height: 25px;
    margin: 5px 6px 0 0;
    cursor: pointer;
    color: #555;
} 
.search-link i:hover {
    color: #2980b9;
    cursor: pointer;
}


.search-box form, {
    width: 90%;
}

.search-box input {
    opacity: 0;
    padding-left: 0 !important;
}



@media screen and (max-width: 700px) {
    h2 {
        font-size: 140%;
    }
    h3 {
        font-size: 120%;
    }
}