<div  style="overflow: hidden" id="caroo">
    <div class="box-carro">
        <div class="box-img">
            <img src="{{ carro.imagem }}" alt="{{ carro.nome }}">
            <span class="condicao-do-carro" [ngClass]="cores()">{{ carro?.condicao }}</span>
            <span class="preco-do-carro">{{ carro?.preco | currency:'BRL':true }}</span>
        </div>
 
        <h2 class="nome-do-carro">{{ carro?.nome | uppercase}}</h2>
        <div class="ui-g atributos">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <h3>Ano</h3>
                <p>{{carro?.anoFabricacao }}</p>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <h3>Fabricante</h3>
                <p>{{carro?.montadora.nome}}</p>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <h3>Único dono?</h3>
                <p *ngIf="carro.unicoDono">Sim</p>
                <p *ngIf="!carro.unicoDono">Não</p>
            </div>
        </div>
        <div class="buttons">
            <button name="editar" class="salvar" [routerLink]="['/editar',carro.id]">Editar</button>
            <button name="deletar" class="cancelar" (click)="confirm(carro)">Deletar</button>
        </div>
    </div>
    
</div>